# Ignore all dot-files and dot-folders.
.*

# Save gitignore.
!/.gitignore

# Docker environment
!.env

# Ignore logs.
/logs/

# Ignore current state of nodes.
/data/

# Ignore compiled Maven project.
/target/
